body { 
    margin: 0; /* Убираем отступы */
    height: 100%;
   }

#header{
	top: 0;
	left: 0;
	padding: 10px;
	font-size: 25px;
	right: 0;
	background-color: #498fff;
	text-decoration: none;
	font-weight: bold;
	position: relative;
}


#current{
	margin-top: 0px;
	padding: 5px;
	padding-left: 0px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}

#rightCol{
	background-color: lightblue;
	float: right;
	height: 100%;
	font-size: 20px;
	
}


#iframe{
	margin-left: 10%;
	border: #000000 1px solid;
	
}
#menu {
	padding: 0;
	margin-top: 0px;
	margin-left: 0px;
	list-style-type: none;
	width: 10%;
	height: 100%;
	position: fixed;
	overflow: auto;
	background-color: #888;
}

#menu li{
	border: 1px solid #666;
}

#menu a{
	background-color: #f3f3f3;
	color: black;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#menu a:hover{
	background-color: #498fff;
}


#choose{
	padding: 0;
}

#precident {
	padding: 0;
    display: none;
    left: 0;  
}

#choose > li:hover > #precident {
    display: block;
}