<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://25.44.120.22:1433;server=YEVHENII-PC;database=shop</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.username">testName</property>
        <property name="connection.password">vhu911ewr</property>

        <mapping class="model.ClientsEntity"/>
        <mapping class="model.GoodsEntity"/>
        <mapping class="model.OrderToGoodsEntity"/>
        <mapping class="model.OrdersEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>