<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet-mapping>
        <servlet-name>ChooseTableServlet</servlet-name>
        <url-pattern>/ChooseTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddElementServlet</servlet-name>
        <url-pattern>/AddElementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteElementServlet</servlet-name>
        <url-pattern>/DeleteElementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditElementServlet</servlet-name>
        <url-pattern>/EditElementServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChooseTableServlet</servlet-name>
        <servlet-class>servlets.ChooseTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddElementServlet</servlet-name>
        <servlet-class>servlets.AddElementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteElementServlet</servlet-name>
        <servlet-class>servlets.DeleteElementServlet</servlet-class>
    </servlet> <servlet>
    <servlet-name>EditElementServlet</servlet-name>
    <servlet-class>servlets.EditElementServlet</servlet-class>
</servlet>
    
    
    
</web-app>
